@font-face {
  font-family: "Futura-Book";
  src: url("./res/fonts/futura-book-webfont.woff2") format("woff2"),
    url("./res/fonts/futura-book-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Futura";
  src: url("./res/fonts/Futura-Bold.woff2") format("woff2"),
    url("./res/fonts/Futura-Bold.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

html,
body {
  font-family: "Futura-Book", "Futura";
  margin: 0;
  padding: 0;
  color: white;
}

/* Title */
.title {
  z-index: 11;
  position: fixed;
  margin-left: 64px;
}

.title > h1 {
  margin-bottom: 8px !important;
}

.subtitleCC {
  margin-top: 0;
  color: rgb(245, 66, 96);
  text-transform: uppercase;
}

.subtitle1 {
  margin-top: 0;
  color: rgb(0, 157, 224);
  text-transform: capitalize;
}

.subtitle2 {
  margin-top: 0;
  color: rgb(40, 149, 72);
  text-transform: capitalize;
}

.subtitle3 {
  margin-top: 0;
  color: rgb(220, 145, 27);
  text-transform: capitalize;
}

.subtitle4 {
  margin-top: 0;
  color: rgb(90, 40, 127);
  text-transform: capitalize;
}

.subtitle5 {
  margin-top: 0;
  color: rgb(232, 25, 115);
  text-transform: capitalize;
}

/* Météo */
#meteo-panel {
  z-index: 11;
  right: 0%;
  margin-right: 64px;
  position: fixed;
}

#titre-meteo {
  text-align: right;
}

#meteo-panel .content-meteo {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
#meteo-panel .content-meteo-infos {
  display: inline-flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  align-items: flex-start;
}
#meteo-panel .content-meteo p {
  margin: 0;
}

#meteo-panel .content-meteo-infos > div {
  margin: 6px 0 0 0;
  display: inline-flex;
}
#meteo-panel .content-meteo-infos .temperature {
  margin-left: 40px;
  font-size: 22px;
  font-weight: bold;
}
#meteo-panel .content-meteo-infos .indice-vent img,
#meteo-panel .content-meteo-infos .indice-uv img {
  display: block;
  width: 30px;
  height: auto;
  margin-right: 10px;
}
#meteo-panel .content-meteo-infos .indice-vent p,
#meteo-panel .content-meteo-infos .indice-uv p {
  display: inline-flex;
  align-items: center;
}
#meteo-panel .content-meteo-img img {
  display: block;
  width: 100px;
  height: 100px;
  margin-right: 20px;
}

/* Slider */
#sliderLabel {
  z-index: 11;
  bottom: 6%;
  right: 50%;
  transform: translateX(50%);
  position: fixed;
}

input[type="range"] {
  -webkit-appearance: none;
  width: 50%;
  height: 2px;
  background: rgb(221, 224, 224);
  background-position: center;
  background-repeat: no-repeat;
  /* position: absolute; */
  /* top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin: auto; */
  z-index: 11;
  bottom: 5%;
  right: 50%;
  transform: translateX(50%);
  position: fixed;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background: rgb(221, 224, 224);
  position: relative;
  border: 3px solid rgb(120, 187, 204);
  z-index: 3;
  cursor: pointer;
}

/* Team */
.team{
  z-index: 11;
  bottom: 2%;
  left: 2%;
  position: fixed;
}

.ynov {
  z-index: 11;
  bottom: 3%;
  right: 2%;
  position: fixed;
  width: 10%;
}
/* Media Queries */
@media screen and (max-width: 955px) {
  #titre-meteo, .team, .ynov {
    display: none;
  }

  #meteo-panel {
    z-index: 11;
    top: 25%;
    right: 0%;
    margin-right: 16px;
    position: fixed;
  }

  #meteo-panel .content-meteo {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
}